# Secrets - never commit these
#.env --- so Git tracks the file
*.pem
*.key
secrets.yml

# OS files
.DS_Store
Thumbs.db

# Docker
*.log
docker-compose.override.yml

#Other 
*.bak
LAB-Guide.md
APRENDIZAJES-DEVSECOPS.md

